footer {
    background: $deepBlack;
    padding: 1rem 3rem;
    margin: 0 auto;

    p {
        color: $white;
        text-align: center;
      }

      div {

        display: flex;
          align-items: center;
          justify-content: space-between;

        .social-links {
          color: $white;
          font-size: 130%;


          i:hover {
            color: $gold;
            cursor: pointer;
            transition: $transition;
            transform: scale(1.1);
          }
  
          i:not(:last-of-type) {
              margin-right: 1rem;
            }
        }

      } 
  }
  