#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 10px;
     img {
        width: 80px;
      }
       ul {
        display: flex;
        list-style: none;

        @media only screen and (max-width: 860px) {
            & {
              flex-direction: column;
              height: 100vh;
            }
          }

        li:not(:last-of-type) {
            margin-right: 1rem;
          }

           a {
            text-decoration: none;
            font-size: 120%;
            color:$black;
            transition: $transition;

            &:hover {
                border-bottom: 2px solid $gold;
                padding-bottom: 0.3rem;
              }            
          }
      }
  }