footer {
    background: black;
    padding: 1rem 3rem;
    margin: 0 auto;

    p {
        color: white;
        text-align: center;
      }

      div {

        display: flex;
          align-items: center;
          justify-content: space-between;

        .social-links {
          color: white;
          font-size: 130%;
  
          i:not(:last-of-type) {
              margin-right: 1rem;
            }
        }
      }
      
      
      
  }
  